<!doctype html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <title>Calendrier</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<h1>Hello world !!</h1>

<ul>
    <% for (var i in calendar) { %>
    <li id="ev_<%= calendar[i].id %>" onclick="getEvent()">
        <%= calendar[i].id %> |
        <%= calendar[i].title %> |
        Le <%= calendar[i].start.toLocaleDateString("fr-FR") %> |
        De <%= calendar[i].start.getHours() %>h
        <% if (calendar[i].start.getMinutes() != 0) { %>
        <%= calendar[i].start.getMinutes() %>min
        <% } %>
        à <%= calendar[i].end.getHours() %>h
        <% if (calendar[i].end.getMinutes() != 0) { %>
        <%= calendar[i].end.getMinutes() %>min
        <% } %>
    </li>
    <% } %>
</ul>

<script>
  function getEvent () {
    const id = event.target.id.substr(3)

    $.ajax({
      url: `event/${id}`
    }).done( function(data) {
      alert(JSON.stringify(data))
    })
  }

</script>

</body>
</html>